---
layout: default
---

<section class="top container">
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>

  <div class="row">
    <div class="col-md-8 first" ng-controller="questionCtrl">
      <div class="page-header questions-header clearfix">
        <h3><a href="questions.html">Questions</a></h3>
        <a href="add-question.html" class="btn btn-primary btn-md">Ask a question</a>
      </div>

      <div class="questions-wrapper clearfix" ng-cloak="question" ng-repeat="question in questions">
        <div class="question row">
          <div class="col-md-2 col-sm-2">
            <img ng-src="{ {question.image} }" class="images img-responsive question" />
          </div>
          <div class="col-md-10 col-sm-10 col-xs-8">
            <div class="content">
              <a href="{ {question.url} }">{ {question.label} }</a>
              <div class="meta-info">
                <span class="first fa fa-clock-o"></span>{ {question.date} }
                <span class="fa fa-user"></span>{ {question.user} }
                <span class="fa fa-eye"></span>{ {question.viewed} }
                <span class="fa fa-thumbs-o-up"></span>{ {question.like} }
                <span ng-repeat="tag in question.tags">
                  <span class="label label-info"><a href="{ {tag.url} }">{ {tag.title} }</a></span>
                </span>
              </div>
              <div class="text">
                { {question.intro} }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 second">

      <div class="events" ng-controller="eventsCtrl">
        <div class="page-header events-header"><h4 class="fa fa-calendar-o">Events</h4></div>

        <ul>
          <li ng-repeat="event in events" ng-cloak="events">
            <b><a href="{ {event.url} }">{ {event.label} }</a></b> - { {event.intro} }<br />
            { {event.date} }, { {event.location} }.
          </li>
        </ul>
      </div>

      <div class="videos">
        <div class="page-header video-header"><h4 class="fa fa-play">Last videos</h4></div>

        <ul>
          {% for item in site.data.videos limit:3 %}
          <li>
            <b><a href="{{ item.url }}">{{ item.title }}</a></b>- {{ item.description }}
            <div class="meta-info">
              <span class="first fa fa-user"></span>{{ item.user }}
              <span class="fa fa-eye"></span>{{ item.viewed }}
              <span class="fa fa-thumbs-o-up"></span>{{ item.like }}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="users">
        <div class="page-header users-header"><h4 class="fa fa-users">Most active users</h4></div>

        <ul>
          {% for item in site.data.active_users %}
          <li class="clearfix">
            <div class="row">
              <div class="col-md-3"><img class="img-responsive" src="{{ item.img }}" /></div>
              <div class="col-md-9">
                <div>
                  <b><a href="{{ item.url }}">{{ item.name }}</a></b>
                  <div class="meta-info">
                    <span class="fa fa-thumbs-o-up"></span>{{ item.reputation }}
                    <span class="fa fa-eye"></span>{{ item.viewed }}
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="bottom container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header blog-header clearfix">
        <h3><a href="blogs.html">Blogs</a></h3>
        <a href="add-blog.html" class="btn btn-warning btn-md">Create a blog post</a>
      </div>

      {% for item in site.data.blogs %}
      <div class="blogs-wrapper clearfix">
        <div class="blog row">
          <div class="col-md-2 col-sm-2"><img src="{{ item.image }}" class="images img-responsive blog" /></div>
          <div class="col-md-10 col-sm-10">
            <div class="content">
              <a href="{{ item.url }}">{{ item.title }}</a>
              <div class="meta-info">
                <span class="first fa fa-clock-o"></span>{{ item.date }}
                <span class="fa fa-user"></span>{{ item.user }}
                <span class="fa fa-eye"></span>{{ item.viewed }}
                <span class="fa fa-thumbs-o-up"></span>{{ item.like }}
              </div>
              <div class="text">
                {{ item.intro }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
