#block-system-main {
  width: 100% !important;
}

#mini-panel-question_display .panel-col-first {
  width: 20% !important;
}

#mini-panel-question_display .panel-col-last {
  width: 80% !important;
}

.panel-col-first {
  width: 80% !important;
}

.panel-col-last {
  width: 20% !important;
}

.pane-node-author {
  float: left;
  padding-right: 10px;
}

/* Styling the tagged terms item list */
ul.tagged_items {
  list-style-type: none;
  padding-left: 5px;
}
