.page-documentations {

  .documentation-header {
    border-bottom-color: $documentation-header;
  }

  .tags {
    padding-bottom: 10px;
  }

  .documentation-list {

    .row {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}