.page-events {

  .events-header {
    border-bottom-color: $events-border;

    h3 {
    }

    .btn {
      margin-top: 20px;
    }
  }

  .event {
    padding-bottom: 10px;

    .link {
      font-size: 16px;
    }
  }
}
