@mixin input-placeholder($color) {

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin hover($color) {
  @include transition(all 0.3s ease-in-out);

  &:hover {
    @include transition(all 0.4s ease-in-out);
    color: $color;
  }
}

@mixin comments() {
  .comments {

    .page-header {
      border-bottom-color: $comments-header;
    }

    .comment {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: $comments-header solid 1px;
    }
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.meta-info {

  .fa {
    margin-left: 5px;
  }

  .first {
    margin-left: 0px;
  }
}

.fa:before {
  margin-right: 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
* html .clearfix {
  height: 1%;
}

/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

.images {

  &.question {
    border: solid 1px $image-blue;
  }

  &.blog {
    border: solid 1px $image-orange;
  }

  &.comments {
    border: solid 1px $comment-image-border;
  }

  &.profile {
    border: solid 1px $profile-image-border;
  }

  &.event {
    border: solid 1px $events-border;
  }
}

a {
  color: #000;

  &:hover {
    color: $link-blue;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

span.label {

  a {
    color: white;
    font-size: 11px !important;
  }
}

form legend {
  padding-bottom: 15px;
}

// Spinners.
.blogs-wrapper, .page-blog {

  .ball-clip-rotate > div {
    border: solid 2px $blogs-border;
    border-bottom-color: transparent;
  }
}

.questions-wrapper, .page-question {

  .ball-clip-rotate > div {
    border: solid 2px $question-border;
    border-bottom-color: transparent;
  }
}

.events, .page-events, .page-event {

  .ball-clip-rotate > div {
    border: solid 2px $events-border;
    border-bottom-color: transparent;
  }
}

.videos, .page-playlist, .page-video {

  .ball-clip-rotate > div {
    border: solid 2px $video-border;
    border-bottom-color: transparent;
  }
}

// User directive
.user-directive {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #999999;

  a {
    color: #999999;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }

  &:hover {
    color: black;
  }
}

.social-up {

  a {
    cursor: pointer;
  }
}

.ng-submitted {

  .ng-invalid {
    border: #ff6782 solid 1px;
  }
}

span.author-link {
  a {
    font-size: 14px !important;
  }
}

.angucomplete-image {
  border-radius: 0%;
}

.up-down-wrapper {
  display: inline-block;
  margin-top: 10px;

  div {
    display: inline-block;
    font-size: 20px;


    .vote {

      &.up {
        &:hover,
        &:active {
          color: #55d24b;
        }
      }

      &.down {
        &:hover,
        &:active {
          color: #d2423e;
        }
      }
    }
  }
}

.meta-info {

  &.list-inline {

    li {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
