.images {

  &.question {
    width: auto;
  }
}

.page-question {

  .image {
    text-align: center;
  }

  .question-content {

    .label-wrapping {

      .title {
        float: left;
        padding-right: 10px;
      }

      h2 {
        margin-top: 0px;
      }
    }
  }

  @include comments();
}
