.form-singin-up {

  .input-group {

    .input-group-addon {
      min-width: 45px;
    }
  }

  .input-area-wrapper {
    padding-bottom: 20px;
  }


  hr {
    margin-top: 0px;
  }

  .text-danger {
    margin-top: 5px;
  }

}
