@media (max-width: $screen-sm) {

  .navbar-collapse {

    .navbar-nav {
      margin: 0 -15px;

      &.secondary-menu {
        float: left;
      }
    }

    .account {

      .btn-group {
        padding: 0px 15px;
      }
    }
  }

  .nav-justified {

    li {

      &.active {

        a {
          background: #fafafa;
          border-color: $events-border !important;

          &:hover {
            background: #fafafa;
          }
        }
      }
    }
  }

  .page-videos {

    .video-wrapper,
    .playlist-wrapper {
      text-align: center;

      .image {
        margin: 0px auto;
      }
    }
  }

  .page-events {

    .events-header {

      .btn {
        float: none;
      }
    }
  }
}
