html[dir="rtl"] {

  @import "rtl/bootstrap-rtl.min";
  @import "rtl/bootstrap-flipped.min";
  @import "rtl/front";
  @import "rtl/videos";
  @import "rtl/search";

  .navbar-fixed-top {

    .dropdown-menu {
      padding-right: 5px;
    }

    .secondary-menu {

      .fa {
        padding-top: 3px;
      }

      .social-up {
        padding-left: 10px;
      }
    }
  }

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-right: 5px;
  }

  .fa:before {
    margin-left: 5px;
  }

  .nav-tabs > li {
    float: none;
  }

  .pagination {
    & > li:first-child > a,
    & > li:first-child > span {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    & > li:last-child > a,
    & > li:last-child > span {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:first-child > .dropdown-toggle,
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .input-group-addon:first-child {
    border: none;
  }

  .input-group-addon:last-child {
    border: none;
  }

  .ui-select-bootstrap > .ui-select-match > .btn {

    span {
      position: absolute;
      right: 20px
    }
  }

  @media (max-width: $screen-sm) {
    .inner-pages,
    .secondary-menu {

      li {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .account {

      .user-directive {
        padding-top: 0;
        padding-bottom: 0;

        &.logged-out {
          padding-right: 15px;
        }

        .btn-group {

          &.open {
            padding: 0 15px;
          }

          a {
            background: transparent;
          }

          .dropdown-menu {

            li {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }

    .navbar-collapse .navbar-nav.secondary-menu {
      float: right !important;
    }

    .secondary-menu {
      margin-right: -25px;
    }
  }

}
