.page-search {

  .search-blog,
  .search-video,
  .search-documentation,
  .search-question {
    padding-left: 5px;
    margin-bottom: 10px;

    h4 {
      margin-top: 0;
    }
  }

  .search-blog {
    border-left: solid 1px $blogs-border;
  }

  .search-question {
    border-left: solid 1px $question-border;
  }

  .search-video {
    border-left: solid 1px $video-border;
  }

  .search-documentation {
    border-left: solid 1px $documentation-header;
  }
}
