.page-user {

  .user-header {
    border-bottom-color: $user-border;
  }

  .about {

    .meta-info {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .activity {

    .row {
      padding-bottom: 10px;

      .text {
      }
    }
  }
}
