$question-border: #93D6FF;
$light-blue: #9de2ff;
$image-blue: #41BEFF;
$link-blue: #44B4E4;

$blogs-border: #FFBE5C;
$image-orange: #FFB553;

$events-border: #A6D28D;

$video-border: #FF7B7B;

$users-border: #4f62ae;
$user-image: #6C85EC;

$comments-header: #E26A2C;
$comment-image-border: #FFA501;

$videos-header: #FFC8C3;
//$video-border: #FFAE00;

$documentation-header: #93D6FF;

$user-border: #93D6FF;
$profile-image-border: #44B4E4;

$login-image-passed: #5cd255;
