.videos-header,
.playlist-header {
  border-bottom-color: $videos-header;
}

.page-videos {

  .top {
    margin-top: 10px;

    input {
      @include transition-property(width);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in);
      width: 128px;

      &:focus {
        width: 250px;
      }
    }
  }

  .videos {

    .video-wrapper {
      position: relative;
      margin-bottom: 20px;
      margin-top: 20px;

      .meta-info {
        position: absolute;
        bottom: 0px;
        color: white;
        opacity: 0.8;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
      }
    }
  }

  .playlist {
    padding-top: 10px;

    .playlist-wrapper {
      margin-bottom: 20px;
    }

    .image {
      border: solid 1px $video-border;
    }
  }
}
