.page-video {

  .video {

    .meta-info {
      padding-top: 10px;
    }
  }

  .other-videos {

    .page-header {
      border-bottom: solid 1px $videos-header;
    }

    ul {

      li {
        padding-bottom: 10px;
      }
    }
  }
}
