.node-type-blog {

  .top-first {

    .pane-node-title {
      color: $blue-title;
    }

    .pane-node-metatags {
      @include meta-tags;
    }
  }

  .top-second {

    img {
      float: left; /* LTR */
      padding: 5px; /* LTR */
      border: 1px solid $profile-picture-wrapper;
      margin-right: 5px; /* LTR */
    }
  }

  .bottom {

    .pane-idea-comments-panel-pane-1 {
      @include comment_view;
    }
  }

  @media (max-width: 768px) {
    .top-second {
      padding-top: 50px;
    }
  }
}