.view-id-top_users {

  .views-row {
    @include clearfix;

    padding-top: 15px;
    padding-bottom: 15px;

    .views-field-picture {
      float: left; /* LTR */
      padding-right: 25px; /* LTR */
    }

    .fa {
      color: #008000;
    }
  }
}

.pane-popular-tags {

  .tagged_items {

    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px; /* LTR */
    }
  }
}

.new {

  &.new-question {
    width: 150px;
    font-weight: bold;

    i {
      padding-right: 10px; /* LTR */
    }
  }
}
