.view-id-top_users {

  .views-row {
    @include clearfix;

    padding-top: 15px;
    padding-bottom: 15px;

    .views-field-picture {
      float: left; /* LTR */
      padding-right: 25px; /* LTR */
    }

    .fa {
      color: #008000;
    }
  }
}

.pane-popular-tags {

  .tagged_items {

    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px; /* LTR */
    }
  }
}

.new {

  @include rounded(10px, 10px);
  background: $orange-button-background;
  width: 170px;
  height: 40px;
  font-weight: bold;
  padding-left: 8px;
  padding-top: 7px;

  .plus-wrapper {
    background: $orange-button-circle;
    @include rounded(15px, 15px);

    .fa {
      color: $orange-button-plus;
      margin: 5px 5px 0px 5px;
    }
  }

  a {
    color: white;
  }

  &.new-question {
  }
}
