body.front {

  .view-id-top_users {
    background: $grey4;

    hr {
      border-top: 1px solid #888;
      margin: 15px 0px 0px 0px;
      padding: 0px;
      width: 95%;
    }

    .top-most-active-user {
      background: $blue-bright;
      color: white;
      padding: 15px;
      font-size: 30px;
    }

    .views-row {
      @include clearfix;

      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px; /* LTR */

      .views-field-picture {
        float: left; /* LTR */
        padding-right: 25px; /* LTR */
      }

      .fa {
        color: #008000;
      }
    }
  }

  .pane-popular-tags {
    padding-bottom: 40px;

    .pane-title {
      float: left; /* LTR */
      margin: 0px;
      padding: 0px;
      font-size: 15px;
      color: $grey3;
      margin-right: 10px; /* LTR */
    }

    ul.tagged_items {
      // Look odd, i know.
      -webkit-padding-start: 0px;

      li {
        background: $grey2;
        padding: 10px 20px;
        @include rounded(10px, 10px);
        display: inline;
        list-style-type: none;

        a {
          color: white;
        }
      }
    }
  }

  .pane-new-question {
    padding-bottom: 30px;

    .pane-title {
      float: left; /* LTR */
      margin: 0px;
      padding: 0px;
      color: $blue-title;
      font-size: 20px;
      padding-right: 5px; /* LTR */
      font-weight: bold;
      margin-right: 10px; /* LTR */
    }

    .link-new-question {

      a {
        @include orange-button;
      }
    }
  }

  .view-main-page-questions {

    .views-row {
      padding-bottom: 40px;

      .image {
        float: left; /* LTR */
        padding-right: 40px; /* LTR */
      }

      .title {

        a {
          color: $darker-blue;
          font-size: 20px;
        }
      }

      .body-stats {

        .stats {

          .fa-heart {
            color: #008000;
          }
        }

        .body {

          .user {
            float: left; /* LTR */
            padding-right: 10px; /* LTR */
          }
        }
      }
    }
  }

  .pane-front-page-blogs-panel-pane-1 {
    padding-top: 30px;
    padding-bottom: 30px;

    .pane-title {
      color: $blue-title;
      padding-bottom: 20px;
    }

    .view-id-front_page_blogs {

      .title {
        margin-top: 0px;

        a {
          color: #000;
          font-weight: normal;
        }
      }

      .field-image {
        float: left; /* LTR */
        padding-right: 20px;
      }
    }
  }
}
