// Single question page.
.node-type-question {

  .panel-col-top {
    @include clearfix;

    .pane-node-title {
      color: $blue-title;
    }

    .pane-user-picture {
      float: left; /* LTR */
      padding-right: 20px; /* LTR */

      img {
        border: $profile-picture-wrapper solid 1px;
      }
    }

    .pane-node-metatags {
      @include meta-tags;
    }
  }

  .pane-idea-comments-panel-pane-1 {
    @include comment_view;
  }
}

// All questions page.
.page-questions {

  .top-wrapper {
    border: $blue-border solid 1px;
    background: #f7f7f7;
    padding: 15px;

    .icons span {
      display: block;
    }
  }

  .bottom-wrapper {
    border: $blue-border solid 1px;
    padding-top: 15px;
    background-color: #eee;
    border-top: none;

    .fa-user,
    .fa-tags {
      margin-left: 10px;
    }

    .fa-pencil,
    .fa-trash-o {
      margin-right: 10px;
      margin-left: 10px;
    }

    .tags {

      .field-content {
        display: inline;
      }
    }
  }
}