.node-type-question {

  .panel-col-top {
    @include clearfix;

    .pane-node-title {
      color: $blue-title;
    }

    .pane-user-picture {
      float: left; /* LTR */
      padding-right: 20px; /* LTR */

      img {
        border: black solid 1px;
      }
    }

    .vud-widget-upanddown {
      float: left; /* LTR */
    }

    .pane-node-metatags {

      .fa-tags,
      .fa-user,
      .fa-square-o,
      .fa-clock-o {
        padding-left: 10px; /* LTR */
      }

      .tags {

        li {
          display: inline;
        }
      }
    }
  }

  .pane-idea-comments-panel-pane-1 {
    @include comment_view;
  }

}