.node-type-question {

  .panel-col-top {
    @include clearfix;

    .pane-node-title {
      color: $blue-title;
    }

    .pane-user-picture {
      float: left; /* LTR */
      padding-right: 20px; /* LTR */

      img {
        border: black solid 1px;
      }
    }

    .vud-widget-upanddown {
      float: left; /* LTR */
    }

    .pane-node-metatags {

      .fa-tags,
      .fa-user,
      .fa-square-o,
      .fa-clock-o {
        padding-left: 10px; /* LTR */
      }

      .tags {

        li {
          display: inline;
        }
      }
    }
  }


  .comment-wrapper {

    .wrapper-top {
      border: solid 1px #cce8ff;
      border-bottom: none;
      padding-top: 15px;
      background: #f7f7f7;

      .picture {

        img {
          display: block;
          max-width: 100%;
          height: auto;
          padding: 5px;
          border: #4D7FB6 solid 1px;
        }
      }
    }

    .wrapper-bottom {
      border: solid 1px #cce8ff;
      padding-top: 15px;
      background-color: #eee;

      .vud-widget-upanddown {
        float: left; /* LTR */
      }

      .fa-user,
      .fa-clock-o,
      .fa-pencil,
      .fa-trash-o {
        margin-left: 10px; /* LTR */
      }

      .fa-pencil,
      .fa-trash-o {
        margin-right: 10px; /* LTR */
      }
    }
  }

}