.page-user {

  .activity-stream-instance {
    position: relative;
    width: 75%;
    margin: 20px auto;
    @include clearfix;


    .activity-header {
      border: 1px solid;
      padding: 5px;

      .picture-name {

        img {
          float: left;
          margin-right: 5px;
        }
      }
    }

    .activity-body {
      border: 1px solid;
      border-top: none;
      padding: 10px;
    }

    .activity-footer {
      border: 1px solid ;
      border-top: none;
      padding: 10px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: -6px;
      top: 20px;
      width: 10px;
      height: 10px;
      border: 1px solid;
      border-width: 1px 0 0 1px;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }


    &.created_node {

      .activity-header,
      .activity-body,
      .activity-footer,
      &:before {
        border-color: #79cbe4;
      }
    }

    &.user_down_up_voted {

      .activity-header,
      .activity-body,
      .activity-footer,
      &:before {
        border-color: #eb8073;
      }
    }

    &.new_user {

      .activity-header,
      .activity-body,
      .activity-footer,
      &:before {
        border-color: #f6bf71;
      }
    }

    &.commented_to_node {

      .activity-header,
      .activity-body,
      .activity-footer,
      &:before {
        border-color: #77c777;
      }
    }
  }
}