.page-user {

  .sticky-container {
    position: fixed;
    top: 20px;
    left: 0px;
    background: #fafafa;
    z-index: 100;
    width: 100%;
    display: none;
    border-bottom: $blue-border solid 1px;
    box-shadow: 0px 4px 3px #C0C0C0;

    .container {

      img {
        height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: $profile-picture-wrapper solid 1px;
      }

      .username {
        font-weight: bold;
      }
    }
  }

  .top {

    .pane-user-name {
      font-size: 30px;
      padding-top: 5px;
      padding-bottom: 10px;
    }

    .pane-user-picture {
      float: left; /* LTR */
      margin-right: 15px; /* LTR */
      padding-bottom: 15px;

      .pane-content {
        padding: 5px;
        border: $profile-picture-wrapper solid 1px;
      }
    }

    .pane-user-field-first-name {
      float: left; /* LTR */
      padding-right: 5px; /* LTR */
    }

    .pane-user-field-reputation {
      text-align: center;
    }
  }

  .first-bottom {
    position: static;

    .field-about-wrapper {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 30;
      background: white;
      width: 1300px;
      padding: 50px;
      border: solid 1px;
    }

    .filter-wrapper.panel.panel-default.form-wrapper {
      display: none;
    }
  }

  .second-bottom {
    padding-left: 50px;

    .view-id-activity_stram {
      border-left: solid 1px #000000;

      .activity-stream-instance {
        position: relative;
        margin-left: 45px;
        margin-right: auto;
        margin-bottom: 40px;
        @include clearfix;

        .icons {
          box-shadow: 0 0 0 4px #ffffff;
          position: absolute;
          left: -70px;
          top: 3px;
          font-size: 35px;
          color: white;
          display: block;
          width: 50px;
          height: 50px;
          line-height: 40px;
          border-radius: 102px;
          text-align: center;
          overflow: hidden;
          padding-top: 5px;
        }

        .activity-header {
          border: 1px solid;
          padding: 15px 10px;
          @include clearfix;

          .picture {

            img {
              float: left;
              margin-right: 10px;
            }
          }

          .info {

            & > .field-content {
              padding-bottom: 10px;
            }
          }
        }

        .activity-body {
          border: 1px solid;
          border-top: none;
          padding: 20px 10px;
        }

        .activity-footer {
          border: 1px solid ;
          border-top: none;
          padding: 20px;
          background: #f7f7f7;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          z-index: 6;
          left: -8px;
          top: 24px;
          width: 15px;
          height: 15px;
          border: 1px solid;
          border-width: 1px 0 0 1px;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);

          @media (max-width: 768px) {
            display: none !important;
          }
        }


        &.new_user {

          .activity-header,
          .activity-body,
          .activity-footer,
          &:before {
            border-color: #79cbe4;
          }

          .icons {
            background-color: #24649a;

            .fa-drupal {
              display: block;
              padding-top: 2px;
            }
          }
        }

        &.user_down_up_voted {

          .activity-header,
          .activity-body,
          .activity-footer,
          &:before {
            border-color: #eb8073;
          }

          .icons {
            background-color: #c85648;

            .fa-thumbs-up {
              display: block;
              padding-top: 2px;
              padding-left: 2px;
            }
          }
        }

        &.created_node {

          .activity-header,
          .activity-body,
          .activity-footer,
          &:before {
            border-color: #f6bf71;
          }

          .icons {
            background: #ff9900;

            .fa-pencil {
              display: block;
              padding-top: 2px;
            }
          }
        }

        &.commented_to_node {

          .activity-header,
          .activity-body,
          .activity-footer,
          &:before {
            border-color: #77c777;
          }

          .icons {
            background: #3a953a;

            .fa-comment {
              display: block;
            }
          }
        }
      }
    }
  }
}