// Local mixins
@mixin right-sidebar {

  .pane-search-box {

    #edit-text {
      float: left; /* LTR */
      width: 60%;
    }

    button {
      float: right; /* LTR */
    }
  }

  .pane-wikipedia-terms {

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }
    }
  }
}

// CSS.
.page-documentation {

  div.first {

    .wikipedia-tabs {
      @include tabs;
    }
  }

  .second {
    @include right-sidebar;
  }
}

.page-documentation-add,
.node-type-wiki {

  .wikipedia-tabs {
    @include tabs;
  }

  .first {

    .pane-user-picture {
      float: left;
      padding-right: 10px;
    }

    .pane-node-body {
      @include clearfix;
    }

    .pane-node-metatags {

      .fa-user {
        padding-left: 5px;
      }
    }
  }

  .second {
    @include right-sidebar;
    border-left: solid 1px $orange-light-border;
  }
}
