// Local mixins
@mixin right-sidebar {

  .pane-search-box {

    #edit-text {
      float: left; /* LTR */
      width: 60%;
    }

    button {
      float: right; /* LTR */
    }
  }

  .pane-wikipedia-terms {

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }
    }
  }
}

// CSS.
.page-documentation {

  div.first {

    .tabs {
      @include tabs;
    }
  }

  .second {
    @include right-sidebar;
  }
}

.page-documentation-add,
.node-type-wiki {

  .drupalhub-wiki {

    .tabs {
      @include tabs;
    }

    .second {
      @include right-sidebar;
    }
  }
}
