.page-documentation {

  div.first {

    .tabs {
      padding-bottom: 10px;


      ul {
        padding: 0px;
        border: none;

        li {
          display: inline;
          list-style-type: none;
        }

        .active {
          border-bottom: 2px solid #ffcc00;
        }
      }
    }
  }

  .second {

    .pane-search-box {

      #edit-text {
        float: left; /* LTR */
        width: 75%;
      }

      #edit-submit {
        float: right; /* LTR */
      }
    }

    .pane-wikipedia-terms {

      ul {
        padding: 0;

        li {
          list-style-type: none;
        }
      }
    }
  }
}
