.page-video {

  .pane-manage-links {
    text-align: right;

    .new-video {
      float: right; /* LTR */

      a {
        @include orange-button;
      }
    }

    #AddVideo {

      .modal-title {
        text-align: left;
      }

      .form-group.name {
        text-align: left;

        input {
          width: 95%;
          display: inline-block;
          text-align: left;
        }
      }

      .result {

        .image {
          float: left;
          padding-left: 20px;

          img {
            width: 200px;
            height: 150px;
          }
        }

        .information {
          float: left;
          width: 75%;
          padding-left: 10px;

          div {
            text-align: left;
            padding-left: 10px;

            &.title {
              font-weight: bold;
            }
          }
        }
      }

      .modal-footer {

        button {
          margin-right: 20px;
        }
      }
    }
  }

  .manage-playlist {
    float: left; /* LTR */

    a {
      @include blue-button;
    }
  }

  .pane-playlist-views {
    @include playlist;
  }


  .view-videos {

    .row {
      padding-bottom: 10px;
      @include playlist;

    }
  }
}

.node-type-youtube {

  .info {
    display: inline;
    padding-left: 0px; /* LTR */

    li {
      display: inline;
      padding-left: 5px;

      .fa {
        font-size: 20px;
      }

      .fa-youtube-play {
        color: #dd2826;
      }
    }
  }

  .others {

    .view-id-videos,
    .pane-playlist-videos {
      height: 350px;
      overflow: scroll;

      @include playlist;
    }
  }
}

.page-video-playlists {

  .new-video {
    float: right; /* LTR */

    a {
      @include orange-button;
    }
  }

  .items {
    padding-left: 0px;
    padding-top: 30px;

    li {
      padding-bottom: 30px;
      list-style-type: none;
      @include clearfix;

      img {
        float: left;
        padding-right: 5px;
        padding-top: 5px;
      }

      .information {
        float: left;
      }

      .add {
        text-align: right;
        padding-right: 10px;
        font-size: 20px;
      }
    }
  }

  .autocomplete-results {
    border: $blue-border solid 1px;
    background: #fafafa;
    border-top: none;
    overflow: scroll;
    height: 160px;

    .wrapper {
      padding-left: 15px;
      padding-top: 10px;

      img {
        float: left;
        padding-right: 5px;
      }

      .information {
        float: left;
      }

      .add {
        text-align: right;
        padding-right: 10px;
        font-size: 20px;
      }
    }
  }
}
