.page-video {

  .pane-manage-links {
    text-align: right;

    .new-video {

      a {
        @include orange-button;
      }
    }
  }

  .video-wrapper {

    .video {
      float: left; /* LTR */
      padding-right: 15px; /* LTR */
    }

    .information {
      float: right; /* LTR */
      font-size: 15px;

      & > div {
        padding-bottom: 10px;
      }

      .length {
        float: left; /* LTR */
        padding-right: 10px;
      }
    }
  }
}