<section class="container form-reset">

  <ul class="breadcrumb">
    <li><a href="#/" translate>Home</a></li>
    <li class="active" translate>Reset password</li>
  </ul>

  <div class="row">
    <div class="col-lg-12 col-md-12" ng-controller="resetPasswordCtrl">
      <div class="panel panel-warning">
        <div class="panel-heading" translate>Reset password</div>
        <div class="panel-body">
          <form role="form" name="ResetPasswordForm" ng-submit="resetPassword()" novalidate>

            <div class="form-group">
              <label class="control-label" translate>Password</label>
              <div class="input-group login-input">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" name="{{'Password' | translate}}" class="form-control" ng-model="password1" required placeholder="{{'Password' | translate}}">
              </div>
              <hr>
            </div>

            <div class="form-group">
              <label class="control-label" translate>Password - verification</label>
              <div class="input-group login-input">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" name="{{'Password - verification' | translate}}" class="form-control" ng-model="password2" required placeholder="{{'Password - verification' | translate}}">
              </div>
              <hr>
            </div>

            <input type="submit" class="btn btn-warning pull-right" translate translate-attr-value="Submit" />

          </form>
        </div>
      </div>
    </div>
  </div>

</section>
