// Variables.
$blue-bright: #21a8e0;
$darker-blue: #20A8E0;
$orange-button-background: #f7b700;
$blue-button-background: #0091f7;
$orange-button-circle: #fdf1cc;
$orange-button-plus: #f7b800;
$orange-light-border: #ffcc00;
$blue-title: #20aae4;
$blue-strip: #21A8E6;
$grey1: #e6e6e6;
$grey2: #d7d7d7;
$grey3: #a3a1a1;
$grey4: #e5e5e5;
$gery5: #e7e7e7;
$profile-picture-wrapper: #4D7FB6;
$blue-border: #cce8ff;
$blue-border-2: #198fc0;

// Mixin part.
@mixin clearfix {

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin rounded($top, $left) {
  -webkit-border-radius: $top $left;
  -moz-border-radius: $top / $left;
  -khtml-border-radius: $top / $left;
  border-radius: $top / $left;
}

@mixin orange-button($button:1) {
  @include rounded(5px, 5px);
  background: $orange-button-background;
  width: 170px;
  height: 40px;
  font-weight: bold;
  color: white;
  padding: 10px 10px 10px 5px;

  @if $button == 1 {
    &:before {
      font-family: FontAwesome;
      font-weight: none;
      content: "\f067";
      background: $orange-button-circle;
      @include rounded(15px, 15px);
      color: $orange-button-plus;
      margin: 5px 5px 0px 5px;
      padding: 3px 5px 3px 5px;
    }
  }
}

@mixin blue-button($button:1) {
  @include rounded(5px, 5px);
  background: $blue-button-background;
  width: 170px;
  height: 40px;
  font-weight: bold;
  color: white;
  padding: 10px 10px 10px 5px;
}

@mixin title {
  color: $blue-title;
  padding-bottom: 20px;
}

@mixin meta-tags {
  .fa-tags,
  .fa-user,
  .fa-square-o,
  .fa-clock-o {
    padding-left: 10px; /* LTR */
  }

  .vud-widget-upanddown {
    float: left; /* LTR */
  }

  .tags {

    li {
      display: inline;
    }
  }
}

@mixin comment_view {
  h2.pane-title {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
  }

  .views-row {
    padding-top: 15px;

    .comment-wrapper {

      .wrapper-top {
        border: solid 1px #cce8ff;
        border-bottom: none;
        padding-top: 15px;

        .picture {

          img {
            display: block;
            max-width: 100%;
            height: auto;
            padding: 5px;
            border: $profile-picture-wrapper solid 1px;
          }
        }
      }

      .wrapper-bottom {
        border: solid 1px #cce8ff;
        padding-top: 15px;
        background-color: #f7f7f7;

        .vud-widget-upanddown {
          float: left; /* LTR */
        }

        .fa-user,
        .fa-clock-o,
        .fa-pencil,
        .fa-trash-o {
          margin-left: 10px; /* LTR */
        }

        .fa-pencil,
        .fa-trash-o {
          margin-right: 10px; /* LTR */
        }
      }
    }
  }
}

@mixin bottom-wrapper {
  .fa-user,
  .fa-tags {
    margin-left: 10px;
  }

  .fa-pencil,
  .fa-trash-o {
    margin-right: 10px;
    margin-left: 10px;
  }

  .tags {

    .field-content {
      display: inline;
    }
  }
}

@mixin playlist {

  h2 {
    margin-top: 0;
    text-decoration: underline;
  }

  ul {
    padding-left: 0px;

    li {
      list-style-type: none;
    }
  }

  .video-wrapper {

    .video {
      float: left; /* LTR */
      padding-right: 15px; /* LTR */
    }

    .information {
      font-size: 15px;

      .length {
        float: left; /* LTR */
        padding-right: 5px;
      }
    }
  }
}

@mixin tabs {
  padding-bottom: 10px;

  ul {
    padding: 0px;
    border: none;

    li {
      display: inline;
      list-style-type: none;
    }

    a {
      padding: 10px;

      &.active {
        border-bottom: 1px solid $orange-light-border;
      }
    }
  }
}

// Global CSS.
.clearfix:after {
  content: "." !important;
  display: "hidden" !important;
}

.padding-top-50 {
  padding-top: 50px;
}

.star {
  background-image: url("../images/large_star.png");
  height: 23px;
  width: 24px;
}

.fa-heart {
  color: #008000;
}

.disabled {
  display: none !important;
}

// top Navigation part.
.top-navbar {
  padding: 0px;
  background: $grey1;

  .nav {

    .social {
      float: right;

      a {
        float: right;

        i {
          font-size: 30px;

          &.fa-facebook-square {
            color: #4f62ae;
          }

          &.fa-google-plus {
            color: #ee4e10;
          }

          &.fa-twitter {
            color: #2aa0d3;
          }

          &.fa-youtube-play {
            color: #e73d31;
          }

          &.fa-github-alt {
            color: #333333;
          }

          &.fa-github-alt {
            color: #333333;
          }
        }
      }
    }
  }
}

.drop-down-wrapper {
  padding-top: 10px;
}

.inner-links {
  padding-top: 15px;
  padding-left: 0;

  li {
    display: inline;
    list-style: none;
    font-size: 15px;
    padding-top: 5px;

    a {
      margin: 10px;
    }

    i {
      font-size: 20px;
      margin-right: 5px;

      &.fa-calendar {
        color: #e64134;
      }
    }
  }
}

#navbar {
  margin: 0px;
  width: 100%;
  clear: both;
  max-width: 100%;
  border-color: #e7e7e7;
  background: $blue-strip;
  padding: 20px 0;

  .container {
    width: 95%;

    margin: 0px auto;

    .navbar-header {
      margin: 0px;
    }

    .inner-links {

      .fa {
        display: none;
      }

      li {
        display: block;

        a {
          margin: 0;
        }
      }
    }

    .navbar-collapse.in {
      overflow-y: none;
    }

    a {
      color: white;
    }

    .navbar-brand {
      padding: 40px 35px;
    }
  }
}

.not-logged-in {

  nav {
    padding-top: 40px;
    float: right; /* LTR */

    a {
      @include orange-button(0);
    }
  }
}

.main-container.container {
  padding-top: 20px;
}

.pane-idea-comments-panel-pane-1 {
  @include comment_view;
}

.buttons,
.passed {

  .fa-thumbs-up,
  .fa-thumbs-down {
    font-size: 25px;
  }

  .fa-thumbs-up {
    color: #3FAC3F;
  }

  .fa-thumbs-down {
    color: #ac0d0d;
  }
}

.ui-autocomplete {
  z-index: 999999;
}

.tabs {

  ul {
    border: none;

    .active {

      a, a:hover {
        background: none !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $orange-light-border;
      }
    }

    a {
      padding: 10px;

      &:hover {
        background: none !important;
        border: none;
        padding: 10px;
      }
    }
  }
}

span.twitter-typeahead {

  .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }

  .tt-suggestion {
    padding-left: 10px;
    padding-bottom: 5px;
    width: 250px;

    & > p {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
    }
  }

  span.twitter-typeahead {
    width: 100%;
  }

  .input-group {

    span.twitter-typeahead {
      display: block !important;
    }

    .tt-dropdown-menu {
      top: 32px !important;
    }

    &.input-group-lg .tt-dropdown-menu {
      top: 44px !important;
    }

    &.input-group-sm .tt-dropdown-menu {
      top: 28px !important;
    }
  }
}

.container {
  width: 95%;
}

// This is the part when we import css style per page.
@import "pages/homepage.scss";
@import "pages/login.scss";
@import "pages/question";
@import "pages/blog";
@import "pages/users";
@import "pages/terms";
@import "pages/calendar";
@import "pages/youtube";
@import "pages/wiki";
