// Variables.
$blue-bright: #21a8e0;
$darker-blue: #20A8E0;
$orange-button-background: #f7b700;
$blue-button-background: #0091f7;
$orange-button-circle: #fdf1cc;
$orange-button-plus: #f7b800;
$orange-light-border: #ffcc00;
$blue-title: #20aae4;
$blue-strip: #21A8E6;
$grey1: #e6e6e6;
$grey2: #d7d7d7;
$grey3: #a3a1a1;
$grey4: #e5e5e5;
$gery5: #e7e7e7;
$profile-picture-wrapper: #4D7FB6;
$blue-border: #cce8ff;
$blue-border-2: #198fc0;

.container {
  width: 95%;
}

.dropdown-menu {
  z-index: 1000000000;
}

// This is the part when we import css style per page.
@import "includes/mixins";
@import "includes/globals";
@import "pages/homepage";
@import "pages/login";
@import "pages/question";
@import "pages/blog";
@import "pages/users";
@import "pages/terms";
@import "pages/calendar";
@import "pages/youtube";
@import "pages/wiki";
