.view-id-top_users .views-row {
  padding-top: 15px;
  padding-bottom: 15px; }
  .view-id-top_users .views-row:after {
    content: "";
    display: table;
    clear: both; }
  .view-id-top_users .views-row .views-field-picture {
    float: left;
    /* LTR */
    padding-right: 25px; }
