<!DOCTYPE html>
<html ng-app="DrupalHub">
<head lang="en">
  <meta charset="UTF-8">
  <title>DrupalHub 2.0</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <!-- build:css({app,.tmp}) css/main.css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->

  {% for assets in site.data.js %}
    {% for bower in assets.bower %}
      <script src="bower_components/{{bower}}"></script>
    {% endfor %}

    {% for drupalhub in assets.drupalhub %}
      <script src="js/{{drupalhub}}"></script>
    {% endfor %}
  {% endfor %}

</head>
<body>

{% include header.html %}
{{ content }}
{% include footer.html %}

</body>
</html>
