<div class="text-center comments" ng-hide="comments">
  <div class="loader">
    <div class="loader-inner ball-clip-rotate">
      <div></div>
    </div>
  </div>
</div>

<ul>
  <li ng-repeat="(key, comment) in comments" ng-show="comments" class="comment">
    <div class="row">
      <div class="col-md-2 col-sm-3 hidden-xs"><img class="images comments img-responsive" ng-src="{{comment.image}}" /></div>
      <div class="col-md-10 col-sm-9 col-xs-12">
        <div class="meta-info">
          <span class="first fa fa-clock-o"></span>{{comment.date}}
          <span class="fa fa-user"></span><span class="author-link" ng-bind-html="comment.author | fullHtml"></span>
          <flag-like type="like_comment" likes="{{comment.point}}" entity="comment" id="{{comment.id}}"></flag-like>
          <span ng-show="comment.access.update" class="fa fa-pencil"><a href="#/comment/{{comment.id}}/edit">Edit</a></span>
          <span ng-show="comment.access.delete" class="fa fa-trash-o"><a ng-click="deleteComment(comment.id, key)">Delete</a></span>

        </div>

        <p ng-bind-html="comment.text | fullHtml"></p>
      </div>
    </div>
  </li>
</ul>

<form class="form-horizontal" ng-show="canComment" name="commentForm" ng-submit="submit()" novalidate>
  <fieldset>
    <legend>
      {{title}}
      <button type="submit" class="btn {{btnType}} pull-right">Submit</button>
    </legend>
    <div class="form-group">
      <div class="col-lg-12">
        <textarea ckeditor="editorOptions" ng-model="newComment.text" ng-required class="form-control"  required rows="3" id="textArea"></textarea>
        <span ng-show="commentsError" class="text-danger">
          {{commentsError}}
        </span>
      </div>
    </div>
  </fieldset>
</form>
