<ul>
  <li ng-repeat="comment in comments" ng-show="comments" class="comment">
    <div class="row">
      <div class="col-md-2 col-sm-2"><img class="images comments img-responsive" ng-src="{{comment.image}}" /></div>
      <div class="col-md-10 col-sm-10">
        <div class="meta-info">
          <span class="first fa fa-clock-o"></span>{{comment.date}}
          <span class="fa fa-user"></span>{{comment.author}}
          <span class="fa fa-thumbs-o-up"></span>{{comment.point}}
        </div>

        <p ng-bind-html="comment.text | fullHtml"></p>
      </div>
    </div>
  </li>
</ul>

<form class="form-horizontal" name="commentForm" ng-submit="submit()" novalidate>
  <fieldset>
    <legend>
      {{title}}
      <button type="submit" class="btn {{btnType}} pull-right">Submit</button>
    </legend>
    <div class="form-group">
      <div class="col-lg-12">
        <textarea ckeditor="editorOptions" ng-model="newComment.text" ng-required class="form-control"  required rows="3" id="textArea"></textarea>
        <span ng-show="commentsError" class="text-danger">
          {{commentsError}}
        </span>
      </div>
    </div>
  </fieldset>
</form>
