<section class="container page-documentations" ng-controller="documentationsCtrl">

  <ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Documentation</li>
  </ul>

  <div class="page-header documentation-header clearfix">
    <h3 class="pull-left">Documentation</h3>
    <a href="#/add-wiki" class="btn btn-primary btn-md pull-right" ng-show="showCreate">Add documentation</a>
  </div>

  <div class="row">
    <div class="col-md-12 tags">
      <span class="label label-info tag" ng-repeat="tag in documentation_tags"><a href="#/documentations/term/{{tag.id}}">{{tag.label}}</a></span>
    </div>
  </div>

  <div class="documentation-list" ng-show="documentations">
    <div class="row" ng-repeat="documentation in documentations">
      <div class="col-md-1 col-xs-3 col-sm-3">
        <img class="images blog img-responsive" src="{{documentation.image}}" />
      </div>
      <div class="col-md-11 col-xs-9 col-sm-9">
        <a href="{{documentation.url}}">{{documentation.label}}</a>
        <span class="label label-info" ng-repeat="tag in documentation.tags"><a href="#/documentations/term/{{tag.id}}">{{tag.label}}</a></span>
        <div class="meta-info">
          <span class="first fa fa-clock-o"></span>{{documentation.date}}
          <span class="fa fa-user"></span><span class="author-link" ng-bind-html="documentation.author | fullHtml"></span>
          <span class="fa fa-eye"></span>{{documentation.viewed}}
        </div>
        {{documentation.intro}}
      </div>
    </div>

    <div drupalhub-pager perpage="5" object="documentations" endpoint="wiki"></div>

  </div>

</section>
