<section class="container page-events">
  <ul class="breadcrumb">
    <li><a href="../index.html" translate>Home</a></li>
    <li class="active" translate>Events</li>
  </ul>

  <div class="row">
    <div class="col-md-12" ng-controller="eventsCtrl">

      <div class="page-header events-header clearfix">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12"><h3 translate>Events</h3></div>
          <div class="col-md-2 col-sm-6 col-xs-12"><a href="#/add-event" class="btn btn-success btn-md pull-left" translate>Suggest event</a></div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <a class="btn btn-info" ng-click="switchEvent()"><span
              ng-class="{'fa fa-arrow-left': type == 'future', 'fa fa-arrow-right': type != 'future'}"></span>
              Switch to: {{type == 'future' ? 'past events' : 'future event'}}
            </a>
          </div>
        </div>
      </div>

      <div class="events-wrapper clearfix">
        <div class="text-center" ng-if="waiting">
          <div class="loader">
            <div class="loader-inner ball-clip-rotate">
              <div></div>
            </div>
          </div>
        </div>

        <div class="text-center" ng-if="events.length == 0">
          <h3 translate>There is no events to display.</h3>
        </div>
        <div class="event row" ng-if="events" ng-repeat="event in events">
          <div class="col-md-10 col-sm-10">
            <div class="content">
              <a href="{{event.url}}" class="link">{{event.label}}</a>
              <div class="meta-info">
                <span class="first fa fa-clock-o"></span>{{event.date}}
                <span class="fa fa-map-marker"></span>{{event.human_address}}
                <span class="fa fa-user"></span><span class="author-link" ng-bind-html="event.author | fullHtml"></span>
                <span class="fa fa-thumbs-o-up"></span>{{event.like}}
              </div>
              <div>
                RSVP - Yes: {{event.rsvp.comming | countAttendees}} | Maybe: {{event.rsvp.maybe | countAttendees}} | No: {{event.rsvp.not | countAttendees}}
              </div>
              <div class="text">
                {{event.description}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
