<script src="js/jquery.gmap.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<section class="container page-event">

  <ul class="breadcrumb">
    <li><a href="../index.html">Home</a></li>
    <li><a href="calendar.html">Calendar</a></li>
    <li class="active">{{ site.data.event.title }}</li>
  </ul>

  <section class="event">
    <div class="row">
      <div class="col-md-8 col-sm-8 event-content">
        <h2>{{ site.data.event.title }}</h2>

        {{ site.data.event.text }}
      </div>

      <div class="col-md-4 col-sm-4">
        <div role="tabpanel" class="rsvp">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#coming" aria-controls="coming" role="tab" data-toggle="tab">Coming</a></li>
            <li role="presentation"><a href="#maybe" aria-controls="maybe" role="maybe" data-toggle="tab">Maybe</a></li>
            <li role="presentation"><a href="#not" aria-controls="not" role="tab" data-toggle="tab">Not</a></li>
            <li role="presentation" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">RSVP? <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                <li><a>Yes</a></li>
                <li><a>Maybe</a></li>
                <li><a>No</a></li>
              </ul>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="coming">
              <ul>
                {% for user in site.data.event.rsvp.comming %}
                <li>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6"><img class="images event img-responsive" src="{{user.image}}" /></div>
                    <div class="col-md-9 col-sm-6 col-xs-6">{{user.name}}</div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="maybe">
              <ul>
                {% for user in site.data.event.rsvp.maybe %}
                <li>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6"><img class="images event img-responsive" src="{{user.image}}" /></div>
                    <div class="col-md-9 col-sm-6 col-xs-6">{{user.name}}</div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="not">
              <ul>
                {% for user in site.data.event.rsvp.not %}
                <li>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6"><img class="images event img-responsive" src="{{user.image}}" /></div>
                    <div class="col-md-9 col-sm-6 col-xs-6">{{user.name}}</div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="data">
          <li class="first">
            <div class="map-wrap">
              <div class="">
                <div id="maps" class="google-maps">
                  <script>
                    jQuery('#maps').gMap({
                      address: "{{site.data.event.google_address}}",
                      zoom: 16,
                      controls: {
                        panControl: true,
                        zoomControl: true,
                        mapTypeControl: true,
                        scaleControl: true,
                        streetViewControl: true,
                        overviewMapControl: true
                      },
                      markers: [{
                        latitude: "{{site.data.event.latitude}}",
                        longitude: "{{site.data.event.longitude}}",
                        html: "<h4>{{ site.data.event.title }}</h4>",
                        popup: true
                      }]
                    });
                  </script>
                </div>
              </div>
            </div>
          </li>
          <li><i class="fa fa-map-marker"></i> {{site.data.event.human_address}}</li>
          <li class="last"><i class="fa fa-clock-o"></i> {{site.data.event.date}}</li>
        </ul>
      </div>

      <div class="col-sm-12 col-sm-12 col-md-12 comments">
        <div class="page-header"><h2>Comments</h2></div>

        {% include comments.html %}

        <section class="form">
          <form class="form-horizontal">
            <fieldset>
              <legend class="clearfix">
                Write something on the event
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
              </legend>
              <div class="form-group">
                <div class="col-lg-12">
                  <textarea class="form-control" rows="3" id="textArea"></textarea>
                </div>
              </div>
            </fieldset>
          </form>
        </section>
      </div>
    </div>
  </section>

</section>
