<section class="container page-event" ng-controller="eventsCtrl" ng-show="event">

  <ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/events">Calendar</a></li>
    <li class="active">{{event.label}}</li>
  </ul>

  <section class="event">
    <div class="row">
      <div class="col-md-8 col-sm-8 event-content">
        <h2>{{event.label}}</h2>

        <p ng-bind-html="event.text | fullHtml"></p>
      </div>

      <div class="col-md-4 col-sm-4">
        <div role="tabpanel" class="rsvp">

          <tabset justified="true">
            <tab heading="Coming">
              <ul>
                <li ng-repeat="user in event.rsvp.coming">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6"><img class="images event img-responsive" ng-src="{{user.image}}" /></div>
                    <div class="col-md-9 col-sm-6 col-xs-6">{{user.name}}</div>
                  </div>
                </li>
                <li ng-show="!event.rsvp.coming" class="text-center">
                  No one is coming. Why don't you join in?
                  <button class="btn btn-success" ng-click="rsvp('coming')">I'll join!</button>
                </li>
              </ul>
            </tab>
            <tab heading="Maybe">
              <ul>
                <li ng-repeat="user in event.rsvp.maybe">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6"><img class="images event img-responsive" ng-src="{{user.image}}" /></div>
                    <div class="col-md-9 col-sm-6 col-xs-6">{{user.name}}</div>
                  </div>
                </li>
              </ul>
            </tab>
            <tab heading="Not">
              <ul>
                <li ng-repeat="user in event.rsvp.not">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6"><img class="images event img-responsive" ng-src="{{user.image}}" /></div>
                    <div class="col-md-9 col-sm-6 col-xs-6">{{user.name}}</div>
                  </div>
                </li>
              </ul>
            </tab>
            <tab heading="RSVP">
              <div class="text-center">
                <p>Are you coming to the event? For now the status is: <b>{{rsvpStatus}}</b></p>
                <ul class="list-inline">
                  <li><button class="btn btn-success" ng-click="rsvp('coming')">Coming</button></li>
                  <li><button class="btn btn-info" ng-click="rsvp('maybe')">Maybe</button></li>
                  <li><button class="btn btn-danger" ng-click="rsvp('not')">No</button></li>
                </ul>
              </div>
            </tab>
          </tabset>

        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="data">
          <li class="first">
            <div drupalhub-map latitude="event.latitude" longitude="event.longitude" address="event.google_address"></div>
          </li>
          <li><i class="fa fa-map-marker"></i> {{event.human_address}}</li>
          <li class="last"><i class="fa fa-clock-o"></i> {{event.date}}</li>
        </ul>
      </div>

      <section class="comments">
        <div class="page-header events-header clearfix">
          <h2>Comments</h2>
        </div>

        <div drupal-hub-comments nid="event.id" type="event"></div>
      </section>
    </div>
  </section>

</section>
