<div ng-controller="frontPage">
  <section class="top container">
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>

    <div class="row">
      <div class="col-md-8 col-xs-12 first">
        <div class="page-header questions-header clearfix">
          <h3><a href="#/questions">Questions</a></h3>
          <a href="#/add-question" class="btn btn-primary btn-md" ng-if="addQuestion">Ask a question</a>
        </div>

        <div class="questions-wrapper clearfix">
          <span class="text-center" ng-if="assets.question.length == 0"><h3>There is no question to display.</h3></span>
          <div ng-repeat="question in assets.question">
            <div class="question row">
              <div class="col-md-2 col-sm-3 hidden-xs">
                <img ng-src="{{question.image}}" class="images img-responsive question" />
              </div>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <div class="content">
                  <a href="{{question.url}}">{{question.label}}</a>
                  <div class="meta-info">
                    <span class="first fa fa-clock-o"></span>{{question.date}}
                    <span class="fa fa-user"></span><span class="author-link" ng-bind-html="question.author | fullHtml"></span>
                    <span class="fa fa-eye"></span>{{question.viewed}}
                    <span class="fa fa-thumbs-o-up"></span>{{question.like}}
                  <span ng-repeat="tag in question.tags">
                    <span class="label label-info"><a href="{{tag.url}}">{{tag.label}}</a></span>
                  </span>
                  </div>
                  <div class="text" ng-bind-html="question.intro | fullHtml"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center" ng-if="waiting">
            <div class="loader">
              <div class="loader-inner ball-clip-rotate">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 second">

        <div class="events">
          <div class="page-header events-header"><h4 class="fa fa-calendar-o">Events</h4></div>

          <ul>
            <li class="text-center" ng-if="assets.events.length == 0">
              <h3>There is no events to display.</h3>
            </li>
            <li ng-repeat="event in assets.events" ng-cloak="events">
              <b><a href="{{event.url}}">{{event.label}}</a></b> - {{event.start}} <span ng-if="event.end">- {{event.end}}</span><span ng-if="event.human_address">, {{event.human_address}}.</span>
              <div class="text" ng-bind-html="event.intro | fullHtml"></div><br />
            </li>
          </ul>
          <div class="text-center" ng-if="waiting">
            <div class="loader">
              <div class="loader-inner ball-clip-rotate">
                <div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="videos">
          <div class="page-header video-header"><h4 class="fa fa-play">Last videos</h4></div>

          <ul>
            <li class="text-center" ng-if="assets.videos.length == 0">
              <h3>There is no videos to display.</h3>
            </li>
            <li ng-cloak="videos" ng-repeat="video in assets.videos">
              <b><a href="{{video.url}}">{{video.label}}</a></b>- {{video.text}}
              <div class="meta-info">
                <span class="first fa fa-user"></span><span class="author-link" ng-bind-html="video.author | fullHtml"></span>
                <span class="fa fa-eye"></span>{{video.viewed}}
                <span class="fa fa-thumbs-o-up"></span>{{video.like}}
              </div>
            </li>
          </ul>
          <div class="text-center" ng-if="waiting">
            <div class="loader">
              <div class="loader-inner ball-clip-rotate">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bottom container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header blog-header clearfix">
          <h3><a href="#/blogs">Blogs</a></h3>
          <a ng-if="addBlog" href="#/add-blog" class="btn btn-warning btn-md">Create a blog post</a>
        </div>

        <div class="blogs-wrapper clearfix">
          <div class="text-center" ng-if="assets.blog.length == 0">
            <h3>There is no events to display.</h3>
          </div>
          <div class="blog row" ng-if="assets.blog" ng-repeat="blog in assets.blog">
            <div class="col-md-2 col-sm-3 hidden-xs"><img ng-src="{{blog.image}}" class="images img-responsive blog" /></div>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <div class="content">
                <a href="{{blog.url}}">{{blog.label}}</a>
                <div class="meta-info">
                  <span class="first fa fa-clock-o"></span>{{blog.date}}
                  <span class="fa fa-user"></span><span class="author-link" ng-bind-html="blog.author | fullHtml"></span>
                  <span class="fa fa-eye"></span>{{blog.viewed}}
                  <span class="fa fa-thumbs-o-up"></span>{{blog.like}}
                </div>
                <div class="text" ng-bind-html="blog.intro | fullHtml"></div>
              </div>
            </div>
          </div>
          <div class="text-center" ng-if="waiting">
            <div class="loader">
              <div class="loader-inner ball-clip-rotate">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
