
<section class="container form-singin-up">
  <ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Sign in/up</li>
  </ul>

  <div class="row">
    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 register">
      <h2 class="section-title">Create Account</h2>
      <div class="panel panel-primary">
        <div class="panel-heading">Register Form</div>
        <div class="panel-body">
          <form role="form" name="registerForm" ng-controller="registerCtrl" ng-submit="register()" novalidate>

            <div class="alert alert-dismissible alert-danger text-center" ng-show="errors.mail || errors.label || errors.password || errors.password2">
              <div ng-cloak ng-show="errors.mail">Email: {{errors.mail}}<br /></div>
              <div ng-cloak ng-show="errors.label">User name: {{errors.label}}<br /></div>
              <div ng-cloak ng-show="errors.pass">Password: {{errors.pass}}<br /></div>
              <div ng-cloak ng-show="errors.pass2">Confirm password: {{errors.pass2}}<br /></div>
            </div>

            <div class="alert alert-dismissible alert-success text-center" ng-show="RegisterSuccess">
              {{RegisterSuccess}}
            </div>

            <div class="form-group" ng-show="!RegisterSuccess">
              <div class="row">
                <div class="input-area-wrapper col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="mail"
                           ng-model="user.mail" class="form-control"
                           placeholder="Email" id="InputEmail" required>
                  </div>
                </div>
                <div class="input-area-wrapper col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="label"
                           ng-model="user.label" class="form-control"
                           placeholder="User Name" id="InputUserName" required>
                  </div>
                </div>
                <div class="input-area-wrapper col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="pass"
                           class="form-control" placeholder="Password"
                           id="InputPassword" ng-model="user.pass" required>
                  </div>
                </div>
                <div class="input-area-wrapper col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="pass2"
                           class="form-control" placeholder="Confirm password"
                           id="InputPassword1" ng-model="user.pass2" required>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-12 pull-right">
                  <input type="submit" class="btn btn-primary pull-right" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h2 class="section-title">Are you registered?</h2>
      <div class="panel panel-success">
        <div class="panel-heading">Login Form</div>
        <div class="panel-body">
          <form role="form" name="loginForm" ng-submit="user.login()" ng-controller="loginCtrl" novalidate>
            <div class="form-group">

              <div class="alert alert-dismissible alert-danger text-center" ng-show="error.name || error.pass">
                <div ng-cloak ng-show="error.name">Username: {{error.name}}<br /></div>
                <div ng-cloak ng-show="error.pass">password: {{error.pass}}<br /></div>
              </div>

              <div class="alert alert-dismissible alert-success text-center" ng-show="loginResults">
                {{loginResults}}
              </div>

              <div ng-show="showLoginInput">
                <div class="input-group login-input input-area-wrapper">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Username" ng-model="user.name" required>
                </div>
                <div class="input-group login-input input-area-wrapper">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Password" ng-model="user.pass" required>
                </div>
                <hr />
                <span ng-cloak class="text-danger" ng-show="showLoginResultsFail"><Br />{{loginResults}}</span>
                <input type="submit" class="btn btn-primary pull-right" />
                <a href="/#recover-password" class="btn btn-warning">Password Recovery</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
