
<section class="container form-singin-up">
  <ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Sign in/up</li>
  </ul>

  <div class="row">
    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 register" ng-controller="registerCtrl">
      <h2 class="section-title">Create Account</h2>
      <div class="panel panel-primary">
        <div class="panel-heading">Register Form</div>
        <div class="panel-body">
          <form role="form" name="registerForm" ng-submit="register()" novalidate>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="email" class="form-control" placeholder="Email" id="InputEmail" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="username" class="form-control" placeholder="User Name" id="InputUserName" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" name="password" class="form-control" placeholder="Password" id="InputPassword" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password2" class="form-control" placeholder="Confirm password" id="InputPassword1" required>
                  </div>
                </div>
              </div>
                <hr />
              <div class="row">
                <div class="col-md-12 pull-right">
                  <button type="submit" class="btn btn-primary pull-right">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" ng-controller="loginCtrl">
      <h2 class="section-title">Are you registered?</h2>
      <div class="panel panel-success">
        <div class="panel-heading">Login Form</div>
        <div class="panel-body">
          <form role="form" name="loginForm" ng-submit="user.login()" novalidate>
            <div class="form-group">

              <div ng-show="showLoginInput">
                <div class="input-group login-input" >
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Username" ng-model="user.name" required>
                </div>
                <span ng-cloak class="text-danger" ng-show="nameError">{{error.name}}<br /></span>
                <div class="input-group login-input">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Password" ng-model="user.pass" required>
                </div>
                <span ng-cloak class="text-danger" ng-show="passError">{{error.pass}}<br /></span>
                <span ng-cloak class="text-danger" ng-show="showLoginResultsFail"><Br />{{loginResults}}</span>
                <hr>
                <input type="submit" class="btn btn-primary pull-right" />
                <a href="/#recover-password" class="btn btn-warning">Password Recovery</a>
              </div>
              <div ng-cloak class="login-passed text-center" ng-show="showLoginResultsSucess">
                {{loginResults}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
