<section class="container page-question" ng-controller="questionCtrl" ng-show="question">
  <ul class="breadcrumb">
    <li><a href="/#" translate>Home</a></li>
    <li><a href="/#questions" translate>Questions</a></li>
    <li class="active">{{question.label}}</li>
  </ul>

  <section class="question">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-2 pull-left image">
        <img class="images question img-responsive" ng-src="{{question.image}}" />
      </div>
      <div class="col-md-10 col-sm-9 col-xs-10 question-content">
        <div class="label-wrapping clearfix">
          <div class="title pull-left"><h2>{{question.label}}</h2></div>
          <drupalhub-up-down class="pull-right" id="{{question.id}}" type="node" points="{{question.vote}}"></drupalhub-up-down>
        </div>
        <ul class="meta-info list-inline">
          <li><span class="first fa fa-clock-o"></span>{{question.date}}</li>
          <li><span class="fa fa-user"></span><span class="author-link" ng-bind-html="question.author | fullHtml"></span></li>
          <li><span class="fa fa-eye"></span>{{question.viewed}}</li>
          <li><flag-like type="like" likes="{{question.like}}" entity="node" id="{{question.id}}"></flag-like></li>
          <li><flag-toggle
            endpoint="question_follow"
            entity="node"
            entity-id="{{question.id}}"
            text-flagged="{{'Unfollow' | translate}}"
            text-unflagged="{{'Follow' | translate}}"
            class-flagged="fa fa-envelope"
            class-unflagged="fa fa-envelope-o"
          ></flag-toggle></li>
          <li><span ng-if="question.access.update" class="fa fa-pencil"><a href="#/question/{{question.id}}/edit" translate>Edit</a></span></li>
          <li><span ng-if="question.access.delete" class="fa fa-trash-o"><a ng-click="deleteQuestion();" translate>Delete</a></span></li>
          <li><span ng-repeat="tag in question.tags"><span class="label label-info"><a href="{{tag.url}}">{{tag.label}}</a></span></span></li>
        </ul>

        <p ng-bind-html="question.text | fullHtml"></p>
      </div>
    </div>
  </section>

  <section class="comments">
    <div class="page-header questions-header clearfix">
      <h2 translate>Comments</h2>
    </div>

    <div drupal-hub-comments nid="question.id" type="question"></div>
  </section>

</section>
