<section class="container page-question">
  <ul class="breadcrumb">
    <li><a href="../index.html">Home</a></li>
    <li class="active">Questions</li>
  </ul>

  <div class="row">
    <div class="col-md-12">

      <div class="page-header questions-header clearfix"><h3><a href="questions.html">Questions</a></h3></div>

      {% for item in site.data.questions %}
      <div class="questions-wrapper clearfix">
        <div class="question row">
          <div class="col-md-2 col-sm-2">
            <img src="{{ item.image }}" class="images img-responsive question" />
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="content">
              <a href="{{ item.url }}">{{ item.title }}</a>
              <div class="meta-info">
                <span class="first fa fa-clock-o"></span>{{ item.date }}
                <span class="fa fa-user"></span>{{ item.user }}
                <span class="fa fa-eye"></span>{{ item.viewed }}
                <span class="fa fa-thumbs-o-up"></span>{{ item.like }}

                {% for tag in item.tags %}
                <span class="label label-info"><a href="{{ tag.url }}">{{ tag.title }}</a></span>
                {% endfor %}
              </div>
              <div class="text">
                {{ item.text }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <ul class="pagination">
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>

</section>
