<section class="container page-video" ng-controller="videoCtrl" ng-show="video">

  <ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/videos">Videos</a></li>
    <li class="active">{{video.label}}</li>
  </ul>

  <div class="row">
    <div class="video col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
        <div ng-bind-html="youtube | fullHtml"></div>
      </div>
      <div class="meta-info">
        <span class="fa fa-clock-o"></span> {{video.duration}}
        <span class="fa fa-calendar"></span> {{video.date}}
        <span class="fa fa-eye"></span> {{video.like}}
        <span class="fa fa-thumbs-o-up"></span> {{video.viewed}}
        <span ng-show="video.access.update" class="fa fa-pencil"><a href="#/video/{{video.id}}/edit">Edit</a></span>
      </div>
      <div>
        <div class="text" ng-bind-html="video.text | fullHtml"></div>
      </div>
    </div>

    <div class="col-md-8 comments">
      <div class="page-header video-header clearfix">
        <h2>Comments</h2>
      </div>

      <div drupal-hub-comments nid="video.id" type="video"></div>
    </div>

    <div class="col-md-4 other-videos">
      <div class="page-header"><h2>Other videos</h2></div>

      <div class="row">
        <ul>
          <li class="clearfix" ng-repeat="other_video in other_videos" ng-show="other_videos">
            <div class="col-md-3">
              <a href="{{other_video.url}}"><img class="img-responsive image" src="{{other_video.image}}" /></a>
            </div>
            <div class="col-md-9">
              <a href="{{other_video.url}}">{{other_video.label}}</a>
              <div class="meta-info">
                <span class="fa fa-clock-o"></span> {{other_video.duration}}
                <span class="fa fa-calendar"></span> {{other_video.date}}
                <span class="fa fa-eye"></span> {{other_video.like}}
                <span class="fa fa-thumbs-o-up"></span> {{other_video.viewed}}
              </div>
            </div>
          </li>
          <li class="text-center clearfix">
            <button ng-show="show_more" class="btn btn-info" ng-click="loadMoreVideos()">Load more</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
