<section class="container page-videos" ng-controller="videosCtrl" ng-show="videos">
  <ul class="breadcrumb">
    <li><a href="#/" translate>Home</a></li>
    <li class="active" translate>Videos</li>
  </ul>

  <tabset justified="true">
    <tab heading="Videos" class="tab-item">
      <section class="clearfix top">
        <div class="pull-left" ng-if="suggestYoutube">
          <a href="#/add-video" class="btn btn-danger"><span class="fa fa-plus"></span> <translate>Add new video</translate></a>
        </div>
        <form class="navbar-form  pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="video-search" translate translate-attr-placeholder="Search" ng-model="videosSearch" ng-keyup="searchVideo();">
          </div>
        </form>
      </section>

      <section class="videos clearfix">
        <div class="row">
          <div class="text-center" ng-if="videos == 0">
            <h3 translate>There is no videos to display.</h3>
          </div>
          <div ng-repeat="(key, video) in videos">

            <div ng-if="$index % 4 == 0" class="clearfix"></div>

            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="video-wrapper">
                <a href="{{video.url}}" class="hidden-sm hidden-xs">{{video.label | limitTo: 35}}</a>
                <a href="{{video.url}}" class="visible-sm visible-xs">{{video.label}}</a>
                <a href="{{video.url}}"><img class="img-responsive image" ng-src="{{video.image}}" /></a>
                <div class="meta-info">
                  <span class="first fa fa-clock-o"></span>{{video.duration}}
                  <span class="fa fa-eye"></span>{{video.viewed}}
                  <span class="fa fa-thumbs-o-up"></span>{{video.like}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="showPager" drupalhub-pager perpage="12" object="videos" endpoint="video"></div>
      </section>
    </tab>
    <tab heading="Playlist">

      <section class="clearfix top">
        <div class="pull-left" ng-if="suggestPlaylist">
          <a href="#/add-playlist" class="btn btn-danger"><span class="fa fa-plus"></span> <translate>Compile a new playlist</translate></a>
        </div>
        <form class="navbar-form  pull-right clearfix" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="playlist-search" translate translate-attr-placeholder="Search" ng-model="playlistSearch" ng-keyup="searchPlaylist();">
          </div>
        </form>
      </section>

      <section class="playlist clearfix">
        <div class="row">
          <div class="text-center" ng-if="playlists == 0">
            <h3 translate>There is no playlists to display.</h3>
          </div>
          <div ng-repeat="playlist in playlists" class="col-md-3 col-sm-12 col-xs-12 playlist-wrapper">

            <div ng-if="$index % 4 == 0" class="clearfix"></div>

            <a href="{{playlist.url}}"><img class="img-responsive image" ng-src="{{playlist.image}}" /></a>
            <div class="meta-info">
              <a href="{{playlist.url}}"><b>{{playlist.label}}</b></a> - {{playlist.text}}
              <div class="meta-info">
                <span class="fa fa-clock-o"></span> <translate translate-values="{duration: playlist.duration}">Duration</translate>
                <span class="fa fa-file-o"></span> <translate translate-values="{number: playlist.videos_number}">Videos: number</translate>
              </div>
            </div>
          </div>
        </div>
      </section>
    </tab>
  </tabset>

</section>
